.card{

background:#1a1f2b;

padding:20px;

border-radius:20px;

transition:.3s;

}

.card:hover{

transform:

translateY(-8px);

}

.card img{

width:100%;

height:250px;

object-fit:cover;

}

.card button{

width:100%;

padding:12px;

margin-top:10px;

border-radius:10px;

}

@media(max-width:768px){

.navbar{

flex-direction:column;

height:auto;

}

.hero{

padding:30px;

}

.hero h1{

font-size:40px;

}

.grid{

grid-template-columns:1fr;

}

}