.dashboard-grid{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));

gap:30px;

margin-bottom:40px;

}

.dashboard-card{

background:#1d2333;

padding:30px;

border-radius:20px;

text-align:center;

transition:.3s;

}

.dashboard-card:hover{

transform:translateY(-5px);

}

.item-card{

background:#1d2333;

padding:25px;

border-radius:20px;

}

.item-card img{

width:100%;

height:250px;

object-fit:cover;

border-radius:15px;

}

@media(max-width:768px){

.navbar{

flex-direction:column;

height:auto;

}

.hero{

padding:30px;

}

.hero h1{

font-size:40px;

}

.grid{

grid-template-columns:1fr;

}

}