*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#0f1117;

color:white;

font-family:Segoe UI,sans-serif;

}

.page-container{

min-height:calc(100vh - 140px);

padding:30px;

}

@media(max-width:768px){

.navbar{

flex-direction:column;

height:auto;

}

.hero{

padding:30px;

}

.hero h1{

font-size:40px;

}

.grid{

grid-template-columns:1fr;

}

}