.hero{

height:400px;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

border-radius:20px;

background:

linear-gradient(

135deg,

#1d2333,

#151924

);

}

.hero h1{

font-size:70px;

}

.hero h2{

margin:20px 0;

font-size:35px;

}

.hero p{

font-size:20px;

}

.hero button{

margin-top:20px;

padding:15px 30px;

border-radius:12px;

font-size:18px;

background:#00d9ff;

}

@media(max-width:768px){

.navbar{

flex-direction:column;

height:auto;

}

.hero{

padding:30px;

}

.hero h1{

font-size:40px;

}

.grid{

grid-template-columns:1fr;

}

}