.navbar{

height:70px;

background:#151924;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

position:sticky;

top:0;

z-index:1000;

box-shadow:0 2px 10px rgba(0,0,0,0.4);

}

.navbar-logo{

font-size:28px;

font-weight:bold;

}

.navbar-links{

display:flex;

align-items:center;

gap:25px;

}

.navbar-links a{

color:white;

display:flex;

align-items:center;

gap:8px;

font-size:16px;

transition:.3s;

}

.navbar-links a:hover{

color:#00d9ff;

}

.navbar-user{

display:flex;

align-items:center;

gap:20px;

}

.logout-btn{

padding:10px 18px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:15px;

display:flex;

align-items:center;

gap:8px;

}

.logout-btn:hover{

transform:scale(1.05);

}

@media(max-width:900px){

.navbar{

height:auto;

padding:20px;

flex-direction:column;

gap:20px;

}

.navbar-links{

flex-wrap:wrap;

justify-content:center;

}

.navbar-user{

flex-direction:column;

}

}

@media(max-width:768px){

.navbar{

flex-direction:column;

height:auto;

}

.hero{

padding:30px;

}

.hero h1{

font-size:40px;

}

.grid{

grid-template-columns:1fr;

}

}