.profile{

display:flex;

justify-content:center;

margin-top:50px;

}

.profile-card{

width:400px;

background:#1d2333;

padding:40px;

border-radius:20px;

text-align:center;

}

.profile-card img{

width:120px;

border-radius:50%;

margin-bottom:20px;

}

@media(max-width:768px){

.navbar{

flex-direction:column;

height:auto;

}

.hero{

padding:30px;

}

.hero h1{

font-size:40px;

}

.grid{

grid-template-columns:1fr;

}

}